<h1><%= @genre.name %></h1>
<h3>Average Rating for Songs in this Genre: <%= @genre.average_rating %></h3>

<h3>Songs:</h3>
<% @genre.songs.each do |song| %>
  <p><%= song.title %></p>
<% end %>


<h3>Highest Rated Song in this Genre: <%= @genre.song_rating.first.title %> (<%= @genre.song_rating.first.rating %>)</h3>

<h3>Lowest Rated Song in this Genre: <%= @genre.song_rating.last.title %> (<%= @genre.song_rating.last.rating %>)</h3>